<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxh-xUPXJwhMnHJLulVptOKuIoR6SctPU</string>
	<key>GCM_SENDER_ID</key>
	<string>559500029309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bonjour</string>
	<key>PROJECT_ID</key>
	<string>bonjour-fae43</string>
	<key>STORAGE_BUCKET</key>
	<string>bonjour-fae43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559500029309:ios:d6fed6a686ebe1fd98f014</string>
</dict>
</plist>